<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faq</title>
    <link rel="stylesheet" href="../public/main.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Homepage</a>
            <a href="/views/faq.html">Faq</a>
            <a href="/views/secondpage.html">Second Page</a>
        </nav>
    </header>
    <section class="Faq-page">
        <h1>My FAQ page!</h1>
        <div class="questions">
            <h2>Frequently Asked Questions!</h2>
            <h3>Why was this website created?</h3>
            <h3>When was this website established?</h3>
            <h3>Who are you?</h3>
        </div>
    </section>
</body>
</html>