<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second page</title>
    <link rel="stylesheet" href="../public/main.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Homepage</a>
            <a href="/views/faq.html">FAQ</a>
            <a href="/views/secondpage.html">Second Page</a>
        </nav>
    </header>
    <section class="preview">
        <h1>Second page here..</h1>
        <p>This is my second page.. Nothing much going on here.</p>
    </section>
</body>
</html>