body {
    padding: 0;
    margin: 0;
    color: black;
}

nav {
    padding: 15px;
    background-color: rgb(31, 31, 216);
}

nav a {
    color: white;
    text-decoration: none;
    padding-right: 8px;
    font-size: 18px;
}

.Minimal {
    max-width: 770px;
    padding: 10px;
    margin-top: 70px;
    margin-left: 55px;
    padding-bottom: 20px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.Minimal p {
    max-width: 755px;
}

/* FaQ page under */

.Faq-page h1{
    text-align: center;
    margin-top: 40px;
}

.questions {
    margin: 0 auto;
    max-width: 500px;
    margin-top: 100px;
    padding: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.questions h2 {
    text-align: center;
    font-size: 30px;
}

.questions h3 {
    font-weight: 200;
}